rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isAuthorized() {
      return request.auth != null &&
        request.auth.token.email in [
          "md0984868@otc.edu",
          "mdurhama@gmail.com",
          "eb0980835@otc.edu",
          "artistportfolio15@gmail.com",
          "eli1clemens@gmail.com",
          "rick@rickclemens.art"
        ];
    }

    // anyone can view/download images
    match /{allPaths=**} {
      allow read: if true;

      // only approved emails can upload/edit/delete
      allow write: if isAuthorized();
    }
  }
}